* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
}

body{
    te
}

.example4{
    display: block;
    width: 150px;
    background: #c8eac3;
    color: #000;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    cursor: pointer;
}
.example4.click{
    background: #1a720d;
    color: #FFF;
}

.test{
    width: 1300px;
    height: 720px;
    background: #FBFBFB;
}